body,html
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
#main
{
    position: absolute;
    margin-top: 7%;
    margin-left: 32%;
    border: 1px solid grey;
    height: 70%;
    width: 35%;
}
#main_form
{
    width: 100%;
    height: 100%;
}
#name_div,#password_div
{
    height: 35%;
    width: 100%;
    padding-top: 7%;
    padding-left: 30%;
}
#remember_div
{
    padding-top: 5%;
    padding-left: 30%;
    height: 10%;
}
#button_div
{
    padding-top: 5%;
    padding-left: 20%;
    height: 20%;
}
#name_p,#password_p
{
    font-size: 130%;

}
#name_i,#password_i
{
    transition: 0.2s;
    font-size: 150%;
    height: 5vh;
    width: 30%;
    border-radius: 10px;
    border: solid gray 1px;
    background-color: rgb(233, 225, 225);
    margin: 0;
}
#name_i:focus,#password_i:focus
{
    transform: scale(1.1);
    background-color: rgb(115, 145, 209);
}
#rem_chbx
{
    height: 10%;
    width: 20%;
    border: solid 2px grey;
}
#login_btn
{
    transition: 0.2s;
    margin-left: 12.5%;
    font-size: 140%;
    width: 40%;
    background-color: rgb(241, 236, 236);
    border-radius: 5px;
    
}
#login_btn:hover
{
    background-color: rgb(115, 145, 209);
    transform: scale(1.1);
}
.errors
{
    margin-left: 30%;
    color: red;
}
