
html,body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
#conv_bar
{
   height: 100%; 
   width: 25%;
   float: left;
   border: 1px solid black;
}
.conv_choice
{
    background-color: rgb(236, 234, 234);
    width: 90%;
    height: 10%;
    border: 1px solid black;
    margin: 5%;
    border-radius: 5px;
}
.conv_choice:hover
{
    background-color: rgb(196, 194, 194);
}
.name_p
{
    float: left;
    font-size: 130%;
    margin-left: 6%;
    margin-top: 7%;
}
.prof_img
{
    width: 20%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 1px 3px rgb(216, 210, 210);
}
.ids,.conv_id {
    display: none;
}
main
{
    height: 100%;
    width: 69%;
    float: left;
    border: 1px solid black;
    
}
#conv_main
{
    overflow-y: auto;
    height: 90%;
    width: 100%;

}
.msg_div_user,.msg_div
{
    overflow-wrap: break-word;
    height:auto;
    width:fit-content ;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 40%;
    background-color: rgb(190, 188, 188);
    border-radius: 20px;
    font-size: 110%;
    margin-bottom: 0.2%;
    margin-left: 1%;
    margin-right: 1%;
    float: right;
    clear: both;
}
.msg_div
{
    float: left;
    clear: both;
}
#message_input_box
{
    border-top: 1px solid black;
    height: 10%;
    width: 100%;
}
#massage_input
{
    font-size: 120%;
    padding: 0.5%;
    margin-top: 0.1%;
    margin-left: 2%;
    resize: none;
    width: 60%;
    height: 80%;
    border-radius: 20px;
    float: left;
}
#send_msg
{
    transition: 0.1s;
    font-size: 200%;
    color: rgb(231, 227, 227);
    background-color: grey;
    margin-top: 3%;
    margin-left: 1%;
    width: 4%;
    height: 45%;
    border: 1px solid grey;
    border-radius: 50%;
    float: left;
    
}
#send_msg:active
{
    background-color: rgb(65, 64, 64);
    transform: scale(0.9);
}
#btn_send_img
{
    margin-left: 0%;
    margin-top: 10%;
    height:80%;
    width: 85%;
}
