#div1
{
    display: none;
    background-color: blue;
    width: 30px;
}
#div2
{
    display: none;
    background-color: red;
    width: 30px;
}
#div3
{
    display: none;
    background-color: green;   
    width: 30px; 
}