#kolor
{
    margin-bottom: 100px;
}
#cyfra
{
    margin-bottom: 10px;
}
.divs
{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    float: left;
}
br
{
    clear: both;
}